<!-- START Menu -->
<div id="menu">
    GROUPS:
    <select id="filter_groups" name="filter[groups]">
      <option value="2">2</option>
      <option value="3" selected="selected">3</option>
      <option value="4">4</option>
    </select>
    CRITERION:
    <select id="filter_criterion" name="filter[criterion]">
      <option value="gpa">GPA</option>
      <option value="name">Name</option>
      <option value="random">Random</option>
    </select>
</div>
<!-- END Menu -->
<div class="colmask leftmenu">
  <div class="col1">
    <div class="grouping">YOUR STUDENTS</div>
    <ul id="sortable0">
      <% @students.each do |student| %>
        <li>
        <!--
        <%= "#{student.name} (#{student.grade} : #{student.gpa})" if false %> 
        -->
        <%= student %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col2">
    <div>
      <% @groups.each_with_index do |group, i| %>
      <div style="float:left;width:<%= 100/@groups.count %>%">
        <div class="grouping"><%= group.name %></div>
        <ul id="sortable<%= i %>" class="connectedSortable"></ul>
      </div>
      <% end %>
    </div>
  </div>
</div>
