<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @group.id %>
</p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @group.comment %>
</p>

<p>
  <b>Created at:</b>
  <%= @group.created_at %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
